/* 일반 공통 */
html {
  background-color: #ffffff;
}

.wrap {
  position: relative;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  overflow: hidden;
  transform: inherit;
}

main,
header,
section,
aside,
footer {
  width: 100%;
  position: relative;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header_btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  width: 25px;
  height: 25px;
  font-size: 18px;
  background-color: #ffffff;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 320px;
  height: 55px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 2px 0 7px #cacaca;
  z-index: 999;
}

h1 {
  font-size: 18px;
  font-weight: 300;
  line-height: 55px;
}

#btn_control {
  right: 5%;
}

/* main 공통 */
main {
  padding: 55px 0;
}

h2 {
  font-size: 16px;
  font-weight: 500;
}

.bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 155px;
  padding: 15px;
  margin: 15px 0;
  background-color: #f6f6f6;
  border-radius: 10px;
}

.number {
  font-size: 30px;
  text-align: center;
  color: #9f9f9f;
}

.New {
  font-size: 14px;
  text-align: right;
}

/* section - total */
#confirmed.bg {
  padding: 20px;
}

#result {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#result > .bg {
  width: 49%;
  margin: 0;
  flex-shrink: 0;
}

#result .number {
  font-size: 20px;
}

/* section - compare */
#compare .bg {
  height: auto;
}

#compare h2 {
  margin-bottom: 10px;
}

#btn_prevention {
  display: block;
  width: 90%;
  height: 45px;
  margin: 0 auto;
  background-color: #008cff;
  color: #ffffff;
  border-radius: 5px;
}

/* seclect country*/
#control_box {
  position: fixed;
  top: 55px;
  width: 100%;
  min-width: 320px;
  height: 0;
  background-color: #ffffff;
  box-shadow: 2px 0 7px #cacaca;
  overflow: hidden;
  transition-duration: 0.5s;
  z-index: 888;
}

aside > .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#control_box h2 {
  margin-bottom: 15px;
  text-align: center;
}

#select {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#countries {
  width: 100%;
  height: 100%;
  padding: 12px;
  margin-right: 15px;
  border: 1px solid #cacaca;
  border-radius: 5px;
}

#btn_select {
  width: 70px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 5px;
}

#shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  background-color: #181818;
}

/* footer */
footer {
  padding: 50px 5%;
  font-size: 14px;
  color: #9f9f9f;
  background-color: rgb(61, 61, 61);
}

footer p {
  line-height: 1.5;
}

footer p:first-child {
  margin-bottom: 10px;
}

footer p:not(:first-child) {
  font-size: 12px;
}

/* prevention part*/
.btn_back {
  left: 5%;
}

#main {
  height: 100%;
}

#prevention_list {
  width: 100%;
  margin-top: 15px;
}

#prevention_list > li {
  width: 100%;
  border-bottom: 1px solid #9f9f9f;
}

#prevention_list > li:first-child {
  border-top: 1px solid #9f9f9f;
}

.list_item > h2 {
  display: block;
  position: relative;
  height: 55px;
  padding: 10px;
  font-weight: 300;
  line-height: 35px;
  border-bottom: 1px solid #9f9f9f;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  transition-duration: 0.5s;
}

#washing_hand {
  display: none;
  width: 100%;
  padding: 10px;
}

#rules {
  display: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
}

#rules > li {
  list-style: square;
  list-style-position: inside;
  padding: 10px 0;
}

#list_contact {
  display: block;
  height: 150px;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
}
