body {
  margin: 0;
  box-sizing: border-box;
}

/* Reset CSS */
a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
button {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ol,
ul,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  display: block;
  font-size: 25px;
  font-weight: 500;
  color: #ff0000;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #fece1a;
}
/* fadeIn */

/* main */
.yellow,
.black {
  width: 100%;
  min-width: 620px;
  height: 500px;
  margin: 0 auto;
}

.yellow {
  background-color: #fece1a;
}
.black {
  background-color: #181a1c;
}

.triangle {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-right: 585px outset transparent;
  border-left: 585px outset transparent;
  display: none;
}

.yellow .triangle {
  border-top: 30px solid #181a1c;
}

.black .triangle {
  border-top: 40px solid #fece1a;
}

.text-box {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

/* animation */

/* =< 768px(desktop) */
@media screen and (max-width: 768px) {
  .triangle {
    border-right: 300px outset transparent;
    border-left: 300px outset transparent;
  }
}

/* >= 768px(desktop) */
@media screen and (min-width: 768px) {
  .triangle {
    border-right: 350px outset transparent;
    border-left: 350px outset transparent;
  }

  .yellow,
  .black {
    height: 414px;
  }
}

/* >= 980px */
@media screen and (min-width: 980px) {
  .triangle {
    border-right: 470px outset transparent;
    border-left: 470px outset transparent;
  }
}

/* >= 1200px */
@media screen and (min-width: 1200px) {
  .triangle {
    border-right: 585px outset transparent;
    border-left: 585px outset transparent;
  }
}
