* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

input,
button {
  border: none;
}

input:active,
input:focus,
button:active,
button:focus {
  outline: none;
}
